$bp-ssmall: 480px;
$bp-small: 768px;
$bp-medium: 992px;
$internal-dimension: 700px;
$color-bg: rgb(17, 29, 53);
$color-fg: white;
$color-active: white;
$color-active-border: white;
$color-pane-1: rgb(23, 58, 122);
$color-pane-2: rgb(125, 155, 209);
$color-pane-3: rgb(238, 238, 238);
$base-padding: 15px;
$padding-in-between: 20px;
$bradius: 6px;
