/* line 18, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
html.wf-active,
html.wf-active > body {
  font-family: 'Quicksand', sans-serif; }

/* line 23, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
html,
html body {
  height: 100%;
  background-color: #111d35;
  color: white; }

/* line 30, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
* {
  box-sizing: border-box; }

/* line 34, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
svg#phone-link {
  width: 16pt;
  height: 16pt;
  transform: translateY(10%);
  fill: rgba(255, 255, 255, 0.75); }

/* line 41, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
svg#home-about {
  fill: rgba(238, 238, 238, 0.9);
  width: 252px;
  height: auto;
  display: block;
  margin: 0 auto;
  transform: translateX(-12%); }

/* line 50, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
svg#work-services {
  fill: rgba(17, 29, 53, 0.75);
  width: 252px;
  height: auto;
  display: block;
  margin: 0 auto; }

/* line 62, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
#about > section {
  background-color: #173a7a; }

/* line 66, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
#services > section {
  background-color: #7d9bd1; }

/* line 70, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
#contact > section {
  background-color: #173a7a;
  color: #111d35; }

/* line 78, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
div.cover div.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  height: 100vh;
  min-height: 100%;
  min-height: 100vh;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  background: url("imgs/foundation-crack.jpg");
  background-position: center center;
  background-size: cover; }

/* line 92, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
div.cover div.site-wrapper-inner {
  display: table-cell;
  vertical-align: top; }
  @media (min-width: 768px) {
    /* line 92, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
    div.cover div.site-wrapper-inner {
      vertical-align: middle; } }

/* line 101, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
div.cover div.cover-container {
  margin-left: auto;
  margin-right: auto; }

/* line 106, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
div.cover .inner {
  padding: 30px; }

/* line 109, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
div.cover .masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    /* line 109, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
    div.cover .masthead-brand {
      float: left; } }

@media (min-width: 768px) {
  /* line 117, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  div.cover .masthead-nav {
    float: right; } }

/* line 121, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
div.cover .masthead-nav > li {
  display: inline-block; }
  /* line 123, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  div.cover .masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /* IE8 proofing */
    color: rgba(255, 255, 255, 0.75);
    border-bottom: 2px solid transparent; }
    /* line 134, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
    .active > div.cover .masthead-nav > li > a,
    .active > div.cover .masthead-nav > li > a:focus,
    .active > div.cover .masthead-nav > li > a:hover {
      color: white;
      border: white; }
    /* line 139, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
    div.cover .masthead-nav > li > a:hover,
    div.cover .masthead-nav > li > a:focus {
      background-color: transparent;
      border-bottom-color: #a9a9a9;
      border-bottom-color: rgba(255, 255, 255, 0.25); }
  /* line 149, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  div.cover .masthead-nav > li + li {
    margin-left: 20px; }

@media (min-width: 768px) {
  /* line 156, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  div.cover .masthead {
    position: absolute;
    top: 0; }
  /* line 162, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  div.cover .mastfoot {
    bottom: 0; } }

@media (max-width: 768px) {
  /* line 170, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  div.cover .masthead,
  div.cover .mastfoot,
  div.cover .cover-container {
    width: 100%; } }

@media (min-width: 769px) {
  /* line 177, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  div.cover .masthead,
  div.cover .mastfoot,
  div.cover .cover-container {
    width: 100%; } }

@media (min-width: 992px) {
  /* line 187, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  div.cover .masthead,
  div.cover .mastfoot,
  div.cover .cover-container {
    width: 992px; } }

/* line 192, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
div.cover .cover {
  padding: 30px; }
  /* line 194, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  div.cover .cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold; }

/* line 200, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
div.cover .masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 222, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
.site {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  width: 100vw;
  padding: 30px; }
  /* line 229, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  .site > div {
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 993px) {
      /* line 229, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
      .site > div {
        width: 932px; } }
    @media (max-width: 992px) {
      /* line 229, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
      .site > div {
        width: 100%; } }
    /* line 239, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
    .site > div > div {
      padding-top: 15px; }
      @media (min-width: 769px) {
        /* line 241, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
        .site > div > div > section {
          margin-top: 15px;
          margin-bottom: 15px;
          padding: 30px;
          border-radius: 6px; }
          /* line 209, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
          .site > div > div > section:first-child {
            margin-top: 10px;
            margin-bottom: 15px; }
          /* line 217, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
          .site > div > div > section + section {
            margin-top: 50px; } }
      @media (max-width: 768px) {
        /* line 241, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
        .site > div > div > section {
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 20px;
          border-radius: 6.66667px; }
          /* line 209, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
          .site > div > div > section:first-child {
            margin-top: 10px;
            margin-bottom: 10px; }
          /* line 217, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
          .site > div > div > section + section {
            margin-top: 35px; } }
      /* line 251, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
      .site > div > div:last-child {
        padding-bottom: 15px; }

/* line 260, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
.g-arr a {
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto; }
  /* line 265, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  .g-arr a > svg {
    width: 100%;
    height: auto;
    margin: 0 auto;
    fill: rgba(255, 255, 255, 0.85); }

@media (max-width: 260px) {
  /* line 275, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  section.service-area ul {
    -webkit-columns: 1;
    -moz-columns: 1;
    -moz-column-count: 1;
    columns: 1;
    padding-left: 0em; } }

@media (min-width: 261px) and (max-width: 479px) {
  /* line 275, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  section.service-area ul {
    -webkit-columns: 2;
    -moz-columns: 2;
    -moz-column-count: 2;
    columns: 2;
    padding-left: 0em; }
    /* line 284, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
    section.service-area ul > li {
      text-align: center; } }

@media (min-width: 480px) and (max-width: 991px) {
  /* line 275, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  section.service-area ul {
    -webkit-columns: 3;
    -moz-columns: 3;
    -moz-column-count: 3;
    columns: 3;
    padding-left: 0em; }
    /* line 293, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
    section.service-area ul > li {
      text-align: center; } }

@media (min-width: 992px) {
  /* line 275, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  section.service-area ul {
    -webkit-columns: 3;
    -moz-columns: 3;
    -moz-column-count: 3;
    columns: 3;
    padding-left: 0em; }
    /* line 300, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
    section.service-area ul > li {
      text-align: center; } }

/* line 304, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
section.service-area ul li {
  list-style: none; }

/* line 310, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
blockquote {
  border-left: none;
  margin: 0 auto;
  max-width: 500px; }
  /* line 314, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  blockquote:before {
    color: rgba(204, 204, 204, 0.7);
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.45em; }
  /* line 323, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  blockquote p:after {
    color: rgba(204, 204, 204, 0.7);
    content: close-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.5em; }
  /* line 331, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  blockquote P {
    display: inline; }
  /* line 334, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  blockquote > footer {
    color: rgba(255, 255, 255, 0.7);
    text-align: right; }

/* line 340, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
.like-h3 {
  margin-top: 1.17em;
  margin-bottom: 1.17em; }

/* line 345, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
h4.slist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em; }
  /* line 347, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
  h4.slist:first-child {
    margin-top: 1.17em; }

/* line 354, /Users/mxm/Projects/2k16/home-inspection-v2/style.scss */
.h3-padding-top {
  padding-top: 1.17em; }

/*# sourceMappingURL=style.css.map */
